.header_top_icon {
  color: black;
  font-size: 30px;
}

.logo {
  width: 100% !important;
}

.footer_icon {
  color: white;
  font-size: 25px;
}

.index_page_green_div_icon{
  font-size: 30px;

}

@media (min-width: 768px) {
  .logo {
    width: 75% !important;
  }
}

@media (min-width: 992px) {
  .logo {
    width: 35% !important;
  }
}
