.header_top_icon {
  color: black;
  font-size: 30px;
}

.logo {
  /* width: 100% !important; */
  width: 150px !important;
}

.footer_icon {
  color: white;
  font-size: 25px;
}

.index_page_green_div_icon {
  font-size: 30px;
}

.best_selling_items_category_span,
.top_ratings_category_span:hover,
.emart_logo_div {
  cursor: pointer;
}

.signin_page_line_with_paragraph {
  position: absolute;
  top: 590px;
}

.signOut:hover {
  cursor: pointer;
}

.wishlist_item_image{
  width: 80px;
}

.wishlist_item_div{
  height: 500px;
}

@media (min-width: 768px) {
  .logo {
    /* width: 75% !important; */
    width: 160px !important;
  }

  .wishlist_item_image{
    width: 100px;
  }
}

@media (min-width: 992px) {
  .logo {
    /* width: 35% !important; */
    width: 150px !important;
  }

  .signin_page_line_with_paragraph {
    top: 570px;
  }


  .wishlist_item_image{
    width: 120px;
  }
}

@media (min-width: 1400px) {
  .logo {
    /* width: 35% !important; */
    width: 200px !important;
  }

  .signin_page_line_with_paragraph {
    top: 600px;
  }

  .wishlist_item_image{
    width: 140px;
  }
}
