:root {
  --yellow-color1: #CFC58D;
  --grey-color1: #D1CEBD;
  --grey-color2: #ACACAC;
  --grey-color3: #898989;
  --black-color1: #473F3F;
}


.header_top_icon {
  color: #000000;
  font-size: 30px;
}

.logo {
  /* width: 100% !important; */
  width: 150px !important;
}

.footer_icon {
  color: white;
  font-size: 25px;
}

.index_page_green_div_icon {
  font-size: 30px;
}

.wishlist_icon_for_product_card,
.cart_icon_for_product_card {
  font-size: 40px;
}

.wishlist_icon_for_product_card:hover,
.cart_icon_for_product_card:hover {
  color: green;
  cursor: pointer;
}

.best_selling_items_category_span,
.top_ratings_category_span:hover,
.emart_logo_div {
  cursor: pointer;
}

.signin_page_line_with_paragraph {
  position: absolute;
  top: 590px;
}

.signOut:hover {
  cursor: pointer;
}

.wishlist_item_image,
.cart_item_image {
  width: 80px;
}

.wishlist_item_div,
.cart_item_div {
  height: 500px;
}

.wishlist_item_image,
.cart_item_image:hover {
  cursor: pointer;
}

.single_product_image {
  width: 65%;
}

.category_page_product_image {
  width: 300px;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
}

.tableRow:hover {
  cursor: pointer;
}

.adminDashboardBackground,
.reportPage {
  background-color: rgba(102, 98, 98, 1);
}

.adminDashboardCustomerReviewDiv,
.adminPagePendingOrderTable {
  height: 250px
}

.pendingOrdertableRow {
  height: 25px;
}

.reportsTable {
  height: 400px;
}

.advancedSearchPageThreeDivs {
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;

}

.advancedSearchPageThreeDivsHeading {
  color: var(--yellow-color1);

}

.advancedSearchPageThreeDivsText {
  color: var(--grey-color1);
  margin-bottom: 0;
}

.advancedSearchPageThreeDivsImage {
  width: 30px;
}

.menuSectionInAdvancedSearchPage {
  border-right: 1px solid #ddd;
}

.productItemInAdvancedSearchPage {
  margin-bottom: 20px;
}

.productImageInAdvancedSearchPage {
  width: 100%;
  height: auto;
}

.priceRangeContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.priceRangeLabel {
  display: block;
  margin-top: 10px;
}

.priceRangeLabel span {
  display: inline-block;
  width: 60px;
}

.imageInCategoryCard {
  height: 82%;
}

@media (min-width: 768px) {
  .logo {
    /* width: 75% !important; */
    width: 160px !important;
  }

  .wishlist_item_image,
  .cart_item_image {
    width: 100px;
  }

  .category_page_product_image {
    width: 220px;
  }
}

.remove_from_wishlist {
  font-size: 25;
  color: black;
}

.remove_from_wishlist,
.remove_from_cart:hover {
  cursor: pointer;
}

@media (min-width: 992px) {
  .logo {
    /* width: 35% !important; */
    width: 150px !important;
  }

  .signin_page_line_with_paragraph {
    top: 570px;
  }

  .wishlist_item_image,
  .cart_item_image {
    width: 120px;
  }

  .category_page_product_image {
    width: 180px;
  }
}

@media (min-width: 1400px) {
  .logo {
    /* width: 35% !important; */
    width: 200px !important;
  }

  .signin_page_line_with_paragraph {
    top: 600px;
  }

  .wishlist_item_image,
  .cart_item_image {
    width: 140px;
  }
}